/*!
Author: Creative Blazer
Author URI: creativeblazer.com
Description: Custom styling for Lydian Center
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Front Page
# General Page
# Header
# Service Archive Page
# Service Single Page
# Practitioner Sidebar
# Practitioner Archive Page
# Practitioner Single Page
# For Children Archive Page
# Testimonial Archive Page
# Testimonial Single Page
# Sidebar styling
# Responsive
	## Typography
	## Service Single Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html body {
	color: #002e00;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Crimson Text', serif;
}
h1 {
	font-size: 2.887em;
	margin-bottom: 1em;
	margin-top: .5em;
	text-align: center;
}
 h2 {
	font-size: 2.281em;
}
 h3 {
	font-size: 1.802em;
}
 h4 {
	font-size: 1.424em;
}
 h5 {
	font-size: 1.125em;
}
 h6 {
	font-size: 1em;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
/*--------------------------------------------------------------
# General Page
--------------------------------------------------------------*/
.front-page-section {
	padding-top: 2rem;
}
/*--------------------------------------------------------------
# General Page
--------------------------------------------------------------*/
.nav-to {
	height: 100px;
	margin-top: -100px;
}

/* Centers the title */
div.page-title-box {
	text-align: center;
}

/* to make title fit text so that the diamond bar shows from behind */
div.page-title-box h1.page-title {
	display: inline-block;
	padding: 5px;
}
/* Creative Line Break with Diamonds */
#header-graphic {
	height: 128px;
	position: absolute;
	width: 100vw;
}
/*--------------------------------------------------------------
# Header Styling
--------------------------------------------------------------*/
#masthead {
	position: relative;
}
/*#cb-collapsing-nav {
	position: absolute;
	top: 124px;
	width:100%;
}*/
.site-title a,
.site-description {
	background: #fff;
}
#contact-phone-mobile {
	position: absolute;
	right: 0;
	margin-right: 5rem;
	text-align: center;
}
#contact-phone-mobile p {
	margin-bottom: 0;
}
/* for header bar #3 and page header bars */
.cb-bar {
	height: 3px;
	background-color: #002b00;
	position: absolute;
	top: 48%;
}
/* for all diamonds */
.cb-diamond {
	width: 9px;
	height: 9px;
	position: absolute;
	/*top: -3px;*/
	-webkit-transform: rotate(38deg) skewY(15deg);
	-ms-transform: rotate(38deg) skewY(15deg);
	transform: rotate(38deg) skewY(15deg);
	background-color: #002b00;
}
/* diamond bar as page header */
.cb-bar-page {
	width: 90vw;
}
/* Front Page Header Bars */
/* bar-1 */
.cb-bar-1,
.cb-bar-2 {
	height: 20px;
	width: 40%;
	position: absolute;
	border-bottom: solid 3px #002b00;
	margin-left: 2rem;
	border-bottom-right-radius: 15px;
	border-right: solid 3px #002b00;
}
.cb-bar-1 {
	z-index: 1;
}
.cb-bar-2 {
	top: 23px;
	width: 50%;
}
.cb-bar-1 .cb-diamond,
.cb-bar-2 .cb-diamond {
	left: -5px;
	bottom: -6px;
}
/* bar 3 - middle bar */
.cb-bar-3 {
	left: 0;
	right: 0;
	margin-right: 2rem;
	margin-left: 2rem;
	z-index: 1;
}
.cb-bar-3 .cb-diamond {
	top: -3px;
}
.cb-bar-3 .cb-diamond:first-child {
	left: -5px;
}
.cb-bar-3 .cb-diamond:last-child {
	right: -5px;
}
.cb-bar-4,
.cb-bar-5 {
	height: 20px;
	position: absolute;
	border-top: solid 3px #002b00;
	margin-left: 2rem;
	border-top-right-radius: 15px;
	border-right: solid 3px #002b00;
}
.cb-bar-4 .cb-diamond,
.cb-bar-5 .cb-diamond {
	left: -5px;
	top: -6px;
}
.cb-bar-4 {
	width: 50%;
	top: 84px;
}
.cb-bar-5 {
	width: 40%;
	top: 105px;
}
/*.left-diamond {
	left: -2px;
}
.right-diamond {
	right: -2px;
}*/
/*.creative-break {
  position: relative;
  top: 0;
  bottom: 0;
  background: #002b00;
  height: 4px;
  width: 94%;
  margin: 10px auto;
}*/
/*.diamond {
  background: #002b00;
  height: 10px;
  width: 10px;
  position: absolute;
  transform: rotate(38deg) skewY(15deg);
  top: -3px;
}*/
.left-diamond {
  right: -5px;
}
.right-diamond {
  left: -5px;
}

/*--------------------------------------------------------------
# For Children Page
--------------------------------------------------------------*/
.card-body {
	padding: 0;
}
.infants,
.infants .outer-forchildren-container,
.infants .nav-tabs {
	background-color: #4BBCF4;
}
.infants .nav-tabs {
	border-top: #4BBCF4 10px solid;
	border-left: #4BBCF4 15px solid;
}
.preschoolers,
.preschoolers .outer-forchildren-container,
.preschoolers .nav-tabs {
	background-color: #61C0BF;
}
.preschoolers .nav-tabs {
	border-top: #61C0BF 10px solid;
	border-left: #61C0BF 15px solid;
}
.gradeschool,
.gradeschool .outer-forchildren-container,
.gradeschool .nav-tabs {
	background-color: #FAE3D9;
}
.gradeschool .nav-tabs {
	border-top: #FAE3D9 10px solid;
	border-left: #FAE3D9 15px solid;
}
.teenager,
.teenager .outer-forchildren-container,
.teenager .nav-tabs {
	background-color: #FAB6B9;
}
.teenager .nav-tabs {
	border-top: #FAB6B9 10px solid;
	border-left: #FAB6B9 15px solid;
}
.card-header {
	border-bottom: 0px;
}
.card-header h2 {
	font-size: 2em;
	font-family: 'Crimson Text', serif;
	color: white;
	text-shadow: 1px 1px 2px black;
}
.inner-forchildren-container {
	margin: 2em 1em; 
	background-color: white;
}
#for-children-content.tab-content {
	margin-top: 1.5em;
}
/*--------------------------------------------------------------
# Service Archive Page
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Service Single Page
--------------------------------------------------------------*/
.service-header-img {
	height: calc(100vw / 4);
    overflow: hidden;
}
.service-header-img img {
	position: relative;
    top: -50%;
}
/*convert page headers to inline to show fancy-bars beneath*/
.service-header-title h2 {
	padding: 5px 5px 0;
    display: inline-block;
}
.service-header-title {
	text-align: center;
}
.service-title {
	padding-top: 1em;
	padding-bottom: 1em;
	margin: .75em auto;
}
/*---------------------------------------------------
# Practitioner Archive Page
---------------------------------------------------*/
/*.fancy-bar {
  position: relative;
  background: #003b00;
  height: 4px;
  width: 35px;
  margin: 10px auto;	
}*/

/*---------------------------------------------------
# Practitioner Sidebar
---------------------------------------------------*/
.practitioner-image {
	margin-bottom: 1.5rem;
}
.sidebar-practitioner-name {
	display: inline-block;
}
.sidebar-text {
	margin-left: 1.5em;
}
/*--------------------------------------------------------------
# Testimonial Archive Page
--------------------------------------------------------------*/
/*space between practitioner and testimonials*/
.testimonial-section .practitioner-info {
	margin-bottom: 2rem;
}
.testimonial-section .practitioner-info img {
	border-radius:5px;
}
/*bring text and signee closer to quotation mark icon*/
.testimonial-box {
	/*margin-left: -15px;*/
	margin-bottom: 2rem;
	max-width: 320px
}
.testimonial-box .text-right {
	padding-right: 15px;
}

/*--------------------------------------------------------------
# Testimonial Single Page
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Sidebar styling
--------------------------------------------------------------*/
.sidebar-text h1, .sidebar-text h2, .sidebar-text h3,
.sidebar-text h4, .sidebar-text h5 {
	color: #F26968;
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
/* Extra-small devices */
@media(max-width: 543px) {
	.service-header-title h2 {
		font-size: 1.5rem;
	}	
}
@media(min-width: 768px) {
	/*--------------------------------------------------------------
	## Typography
	--------------------------------------------------------------*/
h1 {
	font-size: 2.887em;
}
 h2 {
	font-size: 2.281em;
}
 h3 {
	font-size: 1.802;
}
 h4 {
	font-size: 1.424em;
}
 h5 {
	font-size: 1.125em;
}
 h6 {
	font-size: 1em;
}
	/*--------------------------------------------------------------
	## Service Single Page
	--------------------------------------------------------------*/

}

@media(min-width: 992px) {
	/*--------------------------------------------------------------
	# Header Nav
	--------------------------------------------------------------*/
	#cb-collapsing-nav {
		position: absolute;
		top: 124px;
		width: 100%;
		z-index: 1;	
	}
	#cb-collapsing-nav #primary-menu {
		background: #fff;
		padding-left: 10px;
		padding-right: 10px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}
	#contact-addy {
		font-size: 1rem;
		position: absolute;
		right: 0;
		top: 2rem;
	}
	#contact-phone {
		bottom: 1rem;
		font-size: 1.5rem;
		margin-bottom: .5rem;
		position: absolute;
		right: 0;
	}
	/*--------------------------------------------------------------
	# Testimonial Archive Page
	--------------------------------------------------------------*/
	.quote-column {
		max-width: 60px;
	}	
}