/*!
Author: Creative Blazer
Author URI: creativeblazer.com
Description: Custom styling for Lydian Center
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Front Page
# Hero
# About
# General Page
# Header
# Footer
# For Children Page
# Service Archive Page
# Service Single Page
# Practitioner Sidebar
# Practitioner Archive Page
# Practitioner Single Page
# For Children Archive Page
# Testimonial Archive Page
# Testimonial Single Page
# Sidebar styling
# Responsive
	## Typography
	## Service Single Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html body {
/*	color: #002e00; /* green  */

	color: #36454F;
	font-size: 17px;
	line-height: 1.55;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Crimson Text', serif;
	color: #258039;
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.65rem;
}
h4 {
	font-size: 1.4rem;
}
h5 {
	font-size: 1.2rem;
}
ul {
	margin: 0;
	padding: 0;
}

ol {
	margin: 0;
}
a, a:visited {
	color: #f78B2d; /*orange*/
}
a:hover, a:focus {
	color: #f78B2d; /*orange*/
	outline: none;
}

/* Button */
.cb-slide-button {
	display: inline-block;
	color: #1A59A1;
	border: 3px solid #1A59A1;
	margin-top: 1rem;
	padding: .5rem 1.25rem;
	font-size: 1.5rem;
	font-family: 'Crimson Text', serif;
	background: linear-gradient(to left, white 50%, rgba(185, 214, 242, .4) 50%); /*rgba(247, 139, 45, 1) orange*/
	letter-spacing: 1px;
	background-size: 200% 100%;
	background-position:right bottom;
	transition:all .25s ease;
}
.cb-slide-button:hover {
	background-position:left bottom;
	color: #2B4B94;
/*	color: white;
*/
}

.cb-darken-button{
	display: inline-block;
	background-color: white;
/*	border: 3px solid #2B4B94;
*/	margin-top: 1rem;
/*	padding: .5rem .75rem;
*/	font-family: 'Crimson Text', serif;
	font-size: 1.5rem;
	letter-spacing: .5px;
/*	color: #2B4B94;
*/}
.cb-darken-button:hover{
/*	background-color: #B9D6F2;
*/}

/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/
.front-page-section {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero {
	position: relative;
}
#hero #cb-curved-corners {
	position: absolute;
	height: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	border-bottom-left-radius: 100% 75%;
	border-bottom-right-radius: 100% 75%;
	box-shadow: 0px 125px 0px 28px #fff;
}
/*#cb-upper-corners {
	background: #fff;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	border-top-right-radius: 100% 75%;
	border-top-left-radius: 100% 75%;
}*/
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#front-page-about {
	position: relative;
	background: #fff;
	padding-bottom: 1rem;
}
.about-title {
	margin-bottom: 1.25rem;
}

/*--------------------------------------------------------------
# General Page
--------------------------------------------------------------*/
/*allow space above content when using in-page navigation*/
.nav-to {
	height: 100px;
	width: 100%;	
	margin-top: -100px;
	/*tuck it behind content*/
	position: absolute;
	z-index: -1;
}
/*--------------------------------------------------------------
# Header Styling
--------------------------------------------------------------*/
/* make space for fixed header */
#content {
	padding-top: 11rem;
<<<<<<< HEAD
	padding-bottom: 2rem;
=======
	padding-bottom: 3rem;
>>>>>>> 720055fb8571fcf5d5a0d6575eaeddb96fc9854c
}
.home #content {
	padding-top: 82px;
	padding-bottom: 0;
}
/* when logged in */
.admin-bar #masthead {
	padding-top: 32px;
}	
/* allow box shadow to lay over carousel section below */
#masthead {
	z-index: 111;
}
/* site title */
.site-title {
	font-size: 2.5rem;
}
/* color and spacing to match header branding */
.site-title a,
.site-description {
	background: #fff;
	background: #8fd286;
	padding-left: .5rem;
	padding-right: .5rem;
	color: #0D250D;
}
/* menu background matches branding */
#cb-collapsing-nav #primary-menu {
	background: #8fd286;
}
#primary-menu a {
	position: relative;
}
#primary-menu a:before {
	content: "";
  position: absolute;
  height: 5px;
  bottom: 0;
  left: 0;
  right:0;
  background-color: #4464AD;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#primary-menu a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(.85);
  transform: scaleX(.85);
}
#primary-menu .dropdown-menu a:hover:before {
 visibility: hidden;
}
/* header contact info */
#contact-addy {
	font-size: 20px;
	position: absolute;
	top: 20px;
	right: 0;
	opacity: 0;
}
#contact-phone-mobile {
	position: absolute;
	right: 0;
	/*margin-right: 5rem;*/
	text-align: center;
}
#contact-phone-mobile p {
	margin-bottom: 0;
}
/* ---------bars and diamonds in navbar header------- */
#header-graphic {
	/*box-shadow: 0 0px 15px -4px rgba(0,0,0,0.5);*/
	background: #8fd286;
	height: 129px;
	position: absolute;
	width: 100vw;
}
/*box shadow pseudoclass so that it can move z independent of graphics*/
#header-graphic:before {
	content: "";
	position: absolute;
	box-shadow: 0 0px 15px -4px rgba(0,0,0,0.5);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}
/* for header bar #3 and page header bars */
.cb-bar {
	height: 3px;
	/*background-color: #1a4b1a;*/
	background: #258039; /* bright green */
	position: absolute;
	top: 48%;
}
/* for all diamonds */
.cb-diamond {
	width: 9px;
	height: 9px;
	position: absolute;
	-webkit-transform: rotate(38deg) skewY(15deg);
	-ms-transform: rotate(38deg) skewY(15deg);
	transform: rotate(38deg) skewY(15deg);
	background: #258039; /* bright green */
/*	background-color: #1a4b1a;
*/}
/* Front Page Header Bars */
/* bar-1 */
.cb-bar-1,
.cb-bar-2 {
	height: 20px;
	width: 40%;
	position: absolute;
	border-bottom: solid 3px #1a4b1a;
	margin-left: 2rem;
	border-bottom-right-radius: 20px;
	border-right: solid 3px #1a4b1a;
}
.cb-bar-1 {
	z-index: 1;
}
.cb-bar-2 {
	top: 23px;
	width: 50%;
}
.cb-bar-1 .cb-diamond,
.cb-bar-2 .cb-diamond {
	left: -5px;
	bottom: -6px;
}
/* bar 3 - middle bar */
.cb-bar-3 {
	left: 0;
	right: 0;
	margin-right: 2rem;
	margin-left: 2rem;
}
.cb-bar-3 .cb-diamond {
	top: -3px;
}
.cb-bar-3 .cb-diamond:first-child {
	left: -5px;
}
.cb-bar-3 .cb-diamond:last-child {
	right: -5px;
}
.cb-bar-4,
.cb-bar-5 {
	height: 20px;
	position: absolute;
	border-top: solid 3px #1a4b1a;
	margin-left: 2rem;
	border-top-right-radius: 20px;
	border-right: solid 3px #1a4b1a;
}
.cb-bar-4 .cb-diamond,
.cb-bar-5 .cb-diamond {
	left: -5px;
	top: -6px;
}
.cb-bar-4 {
	width: 50%;
	top: 84px;
}
.cb-bar-5 {
	width: 40%;
	top: 105px;
}
.scrolled .site-description p {
	opacity: 0;
	transition: opacity .1s ease-in-out .4s;
}
.no-scroll .site-description p {
	opacity: 1;
	transition: opacity .2s ease-in-out .3s;
}
/*height*/
#masthead.no-scroll {
	transition: height .5s ease-in-out;
}
.no-scroll #header-graphic {
	transition: height .5s ease-in-out;
}
.scrolled #header-graphic {
	height: 82px;
	transition: all .5s ease-in-out;
}
/*hide-show bars 2 & 4*/
.no-scroll .cb-bar-2,
.no-scroll .cb-bar-4 {
	opacity: 1;
	transition: opacity .2s ease-in-out .3s;
}
.scrolled .cb-bar-2,
.scrolled .cb-bar-4 {
	opacity: 0;
	transition: opacity .1s ease-in-out;
}
/*bar 3 extend and retract*/
.no-scroll .cb-bar-3 {
	z-index: 1;
	transition: all .4s ease-in-out .1s;
}
.scrolled .cb-bar-3 {
	margin-right: 25rem;
	z-index: 0;
	transition: margin-right .5s;
}
/*bar 5 placement*/
.cb-bar-5 {
	z-index: 1;
}
.no-scroll .cb-bar-5 {
	transition: top .5s ease-in-out;
}
.scrolled .cb-bar-5 {
	top: 62px;
	transition: top .5s ease-in-out;
}
/*primary menu vertical placement*/
.no-scroll #cb-collapsing-nav {
	transition: top .5s ease-in-out;
}
.scrolled #cb-collapsing-nav {
	top: 81px;
	transition: top .5s ease-in-out;
}
.scrolled #contact-phone {
	top: 23px;
	transition: top .5s ease-in-out;
}
/*adjust content for smallest header height*/
#content {
	/*transition: padding-top .5s ease-in-out;*/
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#sub-footer {
<<<<<<< HEAD
	padding: 3rem 0;
	background-color: #2B4B94; /*Monday blue*/
	background-color: #1A59A1;
	color: white;
}
#sub-footer h2 {
	color: white;
=======
	background: #36454f;
	padding-top: 15px;
	padding-bottom: 15px;
>>>>>>> 720055fb8571fcf5d5a0d6575eaeddb96fc9854c
}
#footer-map img{
	width: 100%;
}
<<<<<<< HEAD
#footer-actions .button-1,
#footer-actions .button-2,
#footer-actions .button-3 {
	background-color: #f78B2d;
	border: 2px solid white;
}

#footer-actions .button-1 a,
#footer-actions .button-2 a,
#footer-actions .button-3 a {
	color: white;
	text-decoration: none;
}
.site-info {
	background-color: #B9D6F2;
	color: black;
}
.site-info a {
	color: black;
=======
#footer-mission{
	color: #fff;
}
#footer-mission p {
	font-size: 1.2rem;
}
#footer-actions .card {
	min-width: 250px;
}
#footer-actions .card-header {
	color: #0d1d21;
}
#footer-actions .button-1 {
	font-size: 1.1rem;
>>>>>>> 720055fb8571fcf5d5a0d6575eaeddb96fc9854c
}
/*--------------------------------------------------------------
# For Children Page
--------------------------------------------------------------*/
/*show the entire block is clickable*/
.card-header {
	position: relative;
	cursor: pointer;
	border-bottom: 0px;
}
.card-header h2 {
	font-size: 2em;
	font-family: 'Crimson Text', serif;
	color: white;
	/*text-shadow: 1px 1px 2px black; dont need with current dark colors*/
}
.collapsed .plus-minus-toggle:before {
	transform: rotate(90deg);
}
.collapsed .plus-minus-toggle:after {
	transform: rotate(180deg);
}
.card-body {
	padding: 0;
}
.infants,
.outer-infants-container,
.infants .nav-tabs {
	background-color: #66A5ED;
}
.infants .nav-tabs {
	border-top: #66A5ED 10px solid;
	border-left: #66A5ED 15px solid;
}
.preschoolers,
.outer-preschoolers-container,
.preschoolers .nav-tabs {
	background-color: #4D8CD4;
}
.preschoolers .nav-tabs {
	border-top: #4D8CD4 10px solid;
	border-left: #4D8CD4 15px solid;
}
.gradeschool,
.outer-gradeschool-container,
.gradeschool .nav-tabs {
	background-color: #3372BA;
}
.gradeschool .nav-tabs {
	border-top: #3372BA 10px solid;
	border-left: #3372BA 15px solid;
}
.teenager,
.outer-teenager-container,
.teenager .nav-tabs {
	background-color: #1A59A1;
}
.teenager .nav-tabs {
	border-top: #1A59A1 10px solid;
	border-left: #1A59A1 15px solid;
}
.inner-age-group-container {
	margin: 2em 1em; 
	background-color: white;
}
.nav-link {
	color: white;
}
.nav-tabs .nav-link:hover {
	background: rgba(255,255,255,.5);
	border-color: rgba(255,255,255,0);
	color: #351F39; /* purple */
}
.nav-tabs .nav-link.active:hover {
	background: #fff;
}
.tab-content {
	margin-top: 1.5em;
}
.tab-pane.active {
	padding-bottom: .001rem;
}
#forchildren-thecontent {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}
/*animated plus minus icon for displaying more info*/
.plus-minus-toggle {
	width: 30px;
	cursor: pointer;
	position: absolute;
	right: 1.25rem;
	top: 0;
	bottom: 0;
}
.plus-minus-toggle:before,
.plus-minus-toggle:after {
	content: "";
	border-radius: 3px;
	height: 5px;
	background: #fff;
	position: absolute;
	right: 0;
	left: 0;
	transition: transform .5s ease;
	transform-origin: center;
}
/*--------------------------------------------------------------
# Service Archive Page
--------------------------------------------------------------*/
.row.service-row {
	margin-bottom: 4rem;
}
/*--------------------------------------------------------------
# Service Single Page
--------------------------------------------------------------*/
.service-header-img {
	height: calc(100vw / 4);
    overflow: hidden;
}
.service-header-img img {
	position: relative;
    top: -50%;
}
/*convert page headers to inline to show fancy-bars beneath*/
.service-header-title h2 {
	padding: 5px 5px 0;
    display: inline-block;
}
.service-header-title {
	text-align: center;
}
.service-title {
	margin: 1.5rem auto;
}
.sidebar-text {
	margin-bottom: 1.8rem;
}
/*--------------------------------------------------------------
# Practitioner Archive Page
---------------------------------------------------------------*/
.page-template-archivish-practitioners #content {
	background: linear-gradient();
}
.practitioner-tile {
	padding: 15px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.practitioner-tile a {
	color: #003b00;
}
.practitioner-tile a:hover,
.practitioner-tile a:focus {
	color: #003b00;
	text-decoration: none;
}
h5.service-index-name {
	color: #003b00;
}
/* smooth slide transform on tile hover */
.practitioner-tile:hover {
	background: #B9D6F2;
	box-shadow: inset 0 0 1px 1px #4464AD;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
/*----- bars and diamonds in front of practitioner info hide until hover -----*/
.practitioner-info-box {
	position: relative;
	overflow: hidden;
	padding-top: 0.8rem;
	/* transition in off-hover effect as well */
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.practitioner-tile .cb-bar {
	background: #1a4b1a;
	width: 50px;
	/* hide bars and diamonds to left of info box by default */
	left: -58px;
	/* make the off-hover event smooth as well - left positioning */
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/* show the bars and diamonds when user hovers */
.practitioner-tile:hover .cb-bar {
	left: 0px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/* make room for bars and diamonds as they slide in from the left */
.practitioner-tile:hover .practitioner-info-box {
	padding-left: 58px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.practitioner-tile .cb-diamond {
	background: #1a4b1a;
	top: -3px;
	right: 10px;
}
/* line each bar up with respective line of text in info box */
.practitioner-tile .p-bar-1 {
	top: 33px;
}
.practitioner-tile .p-bar-2 {
	top: 61px;
}
.practitioner-tile .p-bar-3 {
	top: 88px;
}
/*---------------------------------------------------
# Practitioner Sidebar
---------------------------------------------------*/
.practitioner-image {
	margin-bottom: 1.5rem;
}
.sidebar-practitioner-name {
	display: inline-block;
}
.single-testimonial {
	max-width: 80%; 
	margin-left: auto; 
	margin-right: auto;
}
.testimonials-cta {
	margin-left: auto;
	margin-right: auto;
}
/*--------------------------------------------------------------
# Testimonial Archive Page
--------------------------------------------------------------*/
/* turn each content block into tiles */
.page-template-archivish-testimonials .site-content {
	background: #eee
}
.page-title-box {
	background: #fff;
	border-radius: 5px;
	margin: 2rem -15px;
}
.testimonial-section .practitioner-info img {
	border-radius:5px;
}
/*bring text and signee closer to quotation mark icon*/
.testimonial-box {
	/*margin-left: -15px;*/
	margin-bottom: 2rem;
	max-width: 320px
}
.testimonial-box .text-right {
	padding-right: 15px;
}
.testimonial-section {
	background: #fff;
	border-radius: 5px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: 0 -15px 1rem -15px;
}
.practitioner-info {
	margin-bottom: 1rem;
}
.quote-box {
	margin-left: 15px;
}

/*--------------------------------------------------------------
# Testimonial Single Page
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Sidebar styling
--------------------------------------------------------------*/
.sidebar-text h1, .sidebar-text h2, .sidebar-text h3,
.sidebar-text h4, .sidebar-text h5 {
/*	color: #F26968;*/
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
/* Extra-small devices */
@media(max-width: 543px) {
	/*remove tagline margin taking extra space*/
	.site-description {
		margin-bottom: 0;
	}
	.service-header-title h2 {
		font-size: 1.5rem;
	}	
	/*--------------------------------------------------------------
	# Sidebar styling
	--------------------------------------------------------------*/
	.sidebar-content {
		text-align: center;
	}
}
/* Medium devices */
@media(min-width: 768px) {
	/*--------------------------------------------------------------
	# General Page
	--------------------------------------------------------------*/
	/*page headers with diamond-bar graphic*/
	.page-title-box {
		position: relative;
	}
	.page-title-box h1,
	.page-title-box h2 {
		background: #fff;
		display: inline-block;
		padding-left: 1rem;
		padding-right: 1rem; 
		position: relative;
	}
	.page-title-box .cb-bar {
		width: 80%;
	}
	.page-title-box .cb-diamond {
		top: -3px;
	}
	.page-title-box .cb-diamond:first-child {
		left: -5px;
	}
	.page-title-box .cb-diamond:last-child {
		right: -5px;
	}
	/*--------------------------------------------------------------
	# Testimonial Archive Page
	--------------------------------------------------------------*/
	/*add bar and diamond behind each practitioner's name*/
	.search-by-practitioner {
		position: relative;
		height: 2rem;
	}
	.search-by-practitioner a {
		background: #fff;
		position: relative;
		top: 3px;
		left: 30px;
		z-index: 1;
		padding-left: 7px;
		padding-right: 8px;
	}
	.testimonial-menu-tile .cb-bar/*,
	.testimonial-menu-tile .cb-diamond*/ {
		/*position: absolute;*/
		left: 31px;
		transition: left .4s ease-in-out;
		-webkit-transition: left .4s ease-in-out;
		-moz-transition: left .4s ease-in-out;
		-o-transition: left .4s ease-in-out;
	}
	.search-by-practitioner:hover .cb-bar/*,
	.search-by-practitioner:hover .cb-diamond*/ {
		left: 11px;
		transition: left .2s ease-in-out;
		-webkit-transition: left .2s ease-in-out;
		-moz-transition: left .2s ease-in-out;
		-o-transition: left .2s ease-in-out;
	}
	.testimonial-menu-tile .cb-bar {
		width: 20%;
	}
	.testimonial-menu-tile .cb-diamond {
		top: -3px;
		/*left: 5px;*/
	}
	/*floating side menu*/
	.testimonial-menu-container {
		position: relative;
		margin-bottom: 17px;
		border-radius: 5px;
	}
	/*general layout, sizing, and spacing for side menu content box and background*/
	.testimonial-menu-tile {
		border-radius: 5px;
		width: 261px;
		padding: 1rem;
		margin-left: -15px;
		height: calc(100vh - 157px);/*190px in admin*/
		background: #fff;
		top:141px;/*175px in admin*/
	}
	/*for when the user reaches the footer and the menu sticks back on the page*/
	.testimonial-menu-tile.bottom {
		position: absolute;
		top: auto;
		bottom: 0;
	}
}
@media (max-width: 991px) {
	#primary-menu a:hover:before,
	#primary-menu .dropdown-menu a:hover:before {
	 visibility: hidden;
	}
}
/* Large devices and screens */
@media(min-width: 992px) {
	/*--------------------------------------------------------------
	## Typography
	--------------------------------------------------------------*/
	h1 {
		font-size: 2.887em;
	}
	 h2 {
		font-size: 2.271em;
	}
	 h3 {
		font-size: 1.802em;
	}
	 h4 {
		font-size: 1.424em;
	}
	 h5 {
		font-size: 1.125em;
	}
	 h6 {
		font-size: 1em;
	}
	/*--------------------------------------------------------------
	# General Page
	--------------------------------------------------------------*/
	/*make room for lower menu*/
	.site-content {
		padding-top: 3rem;
	}
	.home .site-content {
		padding-top: 0;
	}
	/*--------------------------------------------------------------
	# Header Nav
	--------------------------------------------------------------*/
	#page #masthead {
		background: transparent;
	}
	/* part of the squisheader animation */
	.scrolled .site-description {
		opacity: 0;
		transition-delay: .1s;
	}
	.no-scroll .site-description {
		opacity: 1;
		transition-delay: .3s;
		background: transparent;
	}
	#cb-collapsing-nav {
		position: absolute;
		top: 128px;
		width: 100%;	
	}
	#cb-collapsing-nav #primary-menu {
		position: relative;
		box-shadow: 0 4px 15px -8px rgba(0,0,0,0.5);
		padding-left: 32px;
		padding-right: 32px;
<<<<<<< HEAD
=======
		/*padding: 0 15px 5px;*/
>>>>>>> 720055fb8571fcf5d5a0d6575eaeddb96fc9854c
		border-bottom-left-radius: 47px;
		border-bottom-right-radius: 47px;
		font-size: 1.25rem;
	}
	#primary-menu li a {
		color: #0D250D;
	}
	/* part of the squisheader animation */
	.no-scroll #contact-addy {
		opacity: 1;
		transition: opacity .2s ease-in-out .3s;
	}
	.scrolled #contact-addy {
		opacity: 0;
		transition: opacity .1s ease-in-out;
	}
	#contact-phone {
		top: 77px;
		font-size: 1.3rem;
		margin-bottom: .5rem;
		position: absolute;
		right: 0;
		transition: top .5s ease-in-out;
	}
	/* when user scrolls */
	/* --add inverted curve to outside of primary menu 
	-----(code adapted from css-tricks.com @https://css-tricks.com/better-tabs-with-round-out-borders/) */
	#primary-menu:before,
	#primary-menu:after {
		position: absolute;
		height: 47px;
		width: 47px;
		top: 1px;
		content: "";
		background: transparent;
		z-index: -1;
	}
	/* left swoop */
	#primary-menu:before {
		left: -43px;
		border-top-right-radius: 84% 50%;
		/* top right box shadow matches branding */
		box-shadow: 18px -36px 1px 7px #fdfcfd;/*, inset -2px 5px 15px -12px rgba(0,0,0,0.5)*/
		background: transparent;
		/* background blends a gray "box shadow" into transparency */
		background: radial-gradient(circle at bottom -54px left -22px, transparent 87%, rgba(0,0,0,0.5));
	}
	/* right swoop */
	#primary-menu:after {
		right: -43px;
		border-top-left-radius: 84% 50%;
		/* top left box shadow matches branding */
		box-shadow: -18px -36px 1px 7px #fdfcfd;/*, inset 2px 5px 15px -12px rgba(0,0,0,0.5)*/
		background: transparent;
		/* background blends a gray "box shadow" into transparency */
		background: radial-gradient(circle at bottom -54px right -22px, transparent 87%, rgba(0,0,0,0.5));
	}
	/*--------------------------------------------------------------
	# Testimonial Archive Page
	--------------------------------------------------------------*/
	.page-template-archivish-testimonials #content {
		/*background: linear-gradient(140deg, #A0AAFF,#b1aaff) fixed;*/ /*downey blue to purpleish blue*/
		/*border: 1px solid #0ABAB5; content divs need this border color*/
		background: linear-gradient(140deg,#73db67 ,#99e590) fixed;/*lightened blues from aqua color pallette #1*/
		background: linear-gradient(320deg, #204853, #3f8fa5) fixed;/*darkened blues from aqua color pallette #1*/
		background: linear-gradient(320deg, #7EA6AD, #3f8fa5) fixed;/*darkened blue from aqua color pallette #1 and random #7ea6ad*/
	}
	.quote-column {
		max-width: 60px;
	}	
}


/*--------------------------------------------------------------
	# Temporary section to test different brand colors
--------------------------------------------------------------*/
/* background color of site header, title, tagline, and menu */
#header-graphic, 
#masthead .site-title a,
#masthead .site-description,
#masthead #primary-menu,
#masthead {
	background: #fff;
	background: #f8faf8;
	background: #f1f5f1;
<<<<<<< HEAD
	background: #fdfcfd;
=======
	background: #fdfcfd;/*ultra pale blue*/
	/*background: #fffcee;
	background: #fffddd;*/
	background: #fafaf7;/*off white from aqua palette #1*/
	background: #fff;
>>>>>>> 720055fb8571fcf5d5a0d6575eaeddb96fc9854c
}
/*gradient background gives the middle bar a fade out affect as it goes behind the site title. matches background*/
#masthead .site-title a {
	background: linear-gradient(#fdfcfd 85%, transparent);
	background: linear-gradient(#fafaf7 85%, transparent);
	background: linear-gradient(#fff 85%, transparent);
}
/* bar and diamond colors */
/*bars made from div borders*/
.cb-bar-1, .cb-bar-2, .cb-bar-4, .cb-bar-5 {
	/*border-color: #1a4b1a; */
	border-color: #003b00;
	border-color: #174c17;
<<<<<<< HEAD
	/*order-color: #2e5e2e;*/
=======
	/*border-color: #2e5e2e;*/
>>>>>>> 720055fb8571fcf5d5a0d6575eaeddb96fc9854c
	/*border-color: #457045;*/
	border-color: #459db5;/*aqua blue from aqua palette #1*/
	border-color: #1A59A1;/*blue from for children teenager background*/
	border-color: #4464AD;/*Julie's blue*/
	border-color: #204853;/*darkened blue from aqua palette #1*/
}
/*middle bar*/
.cb-bar-3 {
	/*background: #1a4b1a; */
	background: #003b00;
	background: #174c17;
	/*background: #2e5e2e;*/
	/*background: #457045;*/
	background: #459db5;/*aqua blue from aqua palette #1*/
	background: #1A59A1;/*blue from for children teenager background*/
	background: #4464AD;/*Julie's blue*/
	background: #204853;/*darkened blue from aqua palette #1*/
}
/*diamonds in header graphic*/
#header-graphic .cb-diamond {
	/*background: #1a4b1a;*/
	background: #003b00; /* original dark green */
	background: #174c17;
	/*background: #2e5e2e;*/
	/*background: #457045;*/
<<<<<<< HEAD
/*	background: #258039; /* bright green */
*/}
=======
	background: #459db5;/*aqua blue from aqua palette #1*/
	background: #1A59A1;/*blue from for children teenager background*/
	background: #4464AD;/*Julie's blue*/
	background: #204853;/*darkened blue from aqua palette #1*/
}
/*page title bars color*/
.page-title-box .cb-bar,
.page-title-box .cb-diamond {
	background: #204853;/*darkened blue from aqua palette #1*/
}
>>>>>>> 720055fb8571fcf5d5a0d6575eaeddb96fc9854c

/* site header text colors */
#masthead .site-title a,
#masthead #primary-menu a,
#masthead .site-description,
#contact-phone, #contact-addy {
	/*color: #351F39;*/
	/*color: #fff;*/
	/*text-shadow: 1px 1px 2px #003b00;*/
	color: #003b00;
	/*color: #002147;*//*dark blue from aqua palette #1-b*/
	/*color: #1A59A1;*//*blue from for children teenager background*/ 
	color: #071a30;/*darkened blue from for children teenager background*/	
	color: #0d1d21;/*darkened blue from aqua palette #1*/
}

/* general text color */
html body {
	color: #00281f;
	color: #003b00;
	color: #071a30;/*darkened blue from for children teenager background*/
	color: #0d1d21;/*darkened blue from aqua palette #1*/
}