/*!
Author: Creative Blazer
Author URI: creativeblazer.com
Description: Custom styling for Lydian Center
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Front Page
# General Page
# Header
# Service Archive Page
# Service Single Page
# Practitioner Sidebar
# Practitioner Archive Page
# Practitioner Single Page
# For Children Archive Page
# Testimonial Archive Page
# Testimonial Single Page
# Sidebar styling
# Responsive
	## Typography
	## Service Single Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html body {
	color: #002e00; /* green  */
	color: #351F39; /* purple */
	font-size: 17px;
	line-height: 1.55;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Crimson Text', serif;
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.65rem;
}
h4 {
	font-size: 1.4rem;
}
h5 {
	font-size: 1.2rem;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ol {
	margin: 0;
}
a, a:visited {
	color: #53A66B;
}
a:hover, a:focus {
	color: #207338;
	outline: none;
}

/* Button */
.cb-slide-button {
	display: inline-block;
	border: 3px solid #1a4b1a;
	margin-top: 1rem;
	padding: .5rem;
	background: linear-gradient(to left, white 50%, #AFFFAF 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition:all .25s ease;
}
.cb-slide-button:hover {
	background-position:left bottom;
}
.cb-darken-button{
	display: inline-block;
	background-color: #198c19;
	margin-top: 1rem;
	padding: .5rem;
	color: white;
}
.cb-darken-button:hover{
	background-color: #007300;
}

/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/
.front-page-section {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
/*--------------------------------------------------------------
# General Page
--------------------------------------------------------------*/
/*allow space above content when using in-page navigation*/
.nav-to {
	height: 100px;
	width: 100%;	
	margin-top: -100px;
	/*tuck it behind content*/
	position: absolute;
	z-index: -1;
}
/*--------------------------------------------------------------
# Header Styling
--------------------------------------------------------------*/
/*when logged in*/
.admin-bar #masthead {
	padding-top: 32px;
}
/* make space for fixed header */
#page {
	padding-top: 128px;
}
#masthead {
	box-shadow: 0 0px 15px 0px rgba(0,0,0,0.5);
	/* allow box shadow to lay over adjacent section below (carousel) */
	z-index: 111;
}
#cb-collapsing-nav #primary-menu {
	background: #8fd286;
}
.site-title {
	font-size: 2.5rem;

}
.site-title a,
.site-description {
	background: #fff;
	background: #8fd286;
	padding-left: .5rem;
	padding-right: .5rem;
	color: #0D250D;
}
#contact-phone-mobile {
	position: absolute;
	right: 0;
	margin-right: 5rem;
	text-align: center;
}
#contact-phone-mobile p {
	margin-bottom: 0;
}
/* ---------bars and diamons in navbar header------- */
#header-graphic {
	background: #8fd286;
	height: 128px;
	position: absolute;
	width: 100vw;

}
/* for header bar #3 and page header bars */
.cb-bar {
	height: 3px;
	background-color: #1a4b1a;
	position: absolute;
	top: 48%;
}
/* for all diamonds */
.cb-diamond {
	width: 9px;
	height: 9px;
	position: absolute;
	-webkit-transform: rotate(38deg) skewY(15deg);
	-ms-transform: rotate(38deg) skewY(15deg);
	transform: rotate(38deg) skewY(15deg);
	background-color: #1a4b1a;
}
/* Front Page Header Bars */
/* bar-1 */
.cb-bar-1,
.cb-bar-2 {
	height: 20px;
	width: 40%;
	position: absolute;
	border-bottom: solid 3px #1a4b1a;
	margin-left: 2rem;
	border-bottom-right-radius: 20px;
	border-right: solid 3px #1a4b1a;
}
.cb-bar-1 {
	z-index: 1;
}
.cb-bar-2 {
	top: 23px;
	width: 50%;
}
.cb-bar-1 .cb-diamond,
.cb-bar-2 .cb-diamond {
	left: -5px;
	bottom: -6px;
}
/* bar 3 - middle bar */
.cb-bar-3 {
	left: 0;
	right: 0;
	margin-right: 2rem;
	margin-left: 2rem;
	z-index: 1;
}
.cb-bar-3 .cb-diamond {
	top: -3px;
}
.cb-bar-3 .cb-diamond:first-child {
	left: -5px;
}
.cb-bar-3 .cb-diamond:last-child {
	right: -5px;
}
.cb-bar-4,
.cb-bar-5 {
	height: 20px;
	position: absolute;
	border-top: solid 3px #1a4b1a;
	margin-left: 2rem;
	border-top-right-radius: 20px;
	border-right: solid 3px #1a4b1a;
}
.cb-bar-4 .cb-diamond,
.cb-bar-5 .cb-diamond {
	left: -5px;
	top: -6px;
}
.cb-bar-4 {
	width: 50%;
	top: 84px;
}
.cb-bar-5 {
	width: 40%;
	top: 105px;
}

/*--------------------------------------------------------------
# For Children Page
--------------------------------------------------------------*/
.card-body {
	padding: 0;
}
.infants,
.outer-infants-container,
.infants .nav-tabs {
	background-color: #66A5ED;
}
.infants .nav-tabs {
	border-top: #66A5ED 10px solid;
	border-left: #66A5ED 15px solid;
}
.preschoolers,
.outer-preschoolers-container,
.preschoolers .nav-tabs {
	background-color: #4D8CD4;
}
.preschoolers .nav-tabs {
	border-top: #4D8CD4 10px solid;
	border-left: #4D8CD4 15px solid;
}
.gradeschool,
.outer-gradeschool-container,
.gradeschool .nav-tabs {
	background-color: #3372BA;
}
.gradeschool .nav-tabs {
	border-top: #3372BA 10px solid;
	border-left: #3372BA 15px solid;
}
.teenager,
.outer-teenager-container,
.teenager .nav-tabs {
	background-color: #1A59A1;
}
.teenager .nav-tabs {
	border-top: #1A59A1 10px solid;
	border-left: #1A59A1 15px solid;
}
.card-header {
	border-bottom: 0px;
}
.card-header h2 {
	font-size: 2em;
	font-family: 'Crimson Text', serif;
	color: white;
	text-shadow: 1px 1px 2px black;
}
.inner-age-group-container {
	margin: 2em 1em; 
	background-color: white;
}
.nav-link {
	color: white;
}
.nav-tabs .nav-link:hover {
	background: rgba(255,255,255,.5);
	border-color: rgba(255,255,255,0);
	color: #351F39; /* purple */
}
.nav-tabs .nav-link.active:hover {
	background: #fff;
}
.tab-content {
	margin-top: 1.5em;
}
.tab-pane.active {
	padding-bottom: .001rem;
}
#forchildren-thecontent {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}
/*--------------------------------------------------------------
# Service Archive Page
--------------------------------------------------------------*/
.row.service-row {
	margin-bottom: 2.5rem;
}
/*--------------------------------------------------------------
# Service Single Page
--------------------------------------------------------------*/
.service-header-img {
	height: calc(100vw / 4);
    overflow: hidden;
}
.service-header-img img {
	position: relative;
    top: -50%;
}
/*convert page headers to inline to show fancy-bars beneath*/
.service-header-title h2 {
	padding: 5px 5px 0;
    display: inline-block;
}
.service-header-title {
	text-align: center;
}
.service-title {
	margin: 1.5rem auto;
}
.sidebar-text {
	margin-top: 1.8rem;
	margin-bottom: 1.8rem;
	padding-right: 1rem;
}
/*--------------------------------------------------------------
# Practitioner Archive Page
---------------------------------------------------------------*/
.practitioner-tile {
	padding-top: 15px;
	padding-bottom: 15px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/* smooth slide transform on tile hover */
.practitioner-tile:hover {
	background: #cfe0db;
	box-shadow: inset 0 0 1px 1px #404d49;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
/*----- bars and diamonds in front of practitioner info hide until hover -----*/
.practitioner-info-box {
	position: relative;
	overflow: hidden;
	padding-top: 0.8rem;
	/* transition in off-hover effect as well */
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.practitioner-tile .cb-bar {
	background: #351F39;
	width: 50px;
	/* hide bars and diamonds to left of info box by default */
	left: -58px;
	/* make the off-hover event smooth as well - left positioning */
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/* show the bars and diamonds when user hovers */
.practitioner-tile:hover .cb-bar {
	left: 0px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/* make room for bars and diamonds as they slide in from the left */
.practitioner-tile:hover .practitioner-info-box {
	padding-left: 58px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.practitioner-tile .cb-diamond {
	background: #351F39;
	top: -3px;
	right: 10px;
}
/* line each bar up with respective line of text in info box */
.practitioner-tile .p-bar-1 {
	top: 31px;
}
.practitioner-tile .p-bar-2 {
	top: 56px;
}
.practitioner-tile .p-bar-3 {
	top: 81px;
}
/*---------------------------------------------------
# Practitioner Sidebar
---------------------------------------------------*/
.practitioner-image {
	margin-bottom: 1.5rem;
}
.sidebar-practitioner-name {
	display: inline-block;
}
.sidebar-text {
	margin-left: 1.5em;
}
.single-testimonial {
	max-width: 80%; 
	margin-left: auto; 
	margin-right: auto;
}
.testimonials-cta {
	margin-left: auto;
	margin-right: auto;
}
/*--------------------------------------------------------------
# Testimonial Archive Page
--------------------------------------------------------------*/
/* turn each content block into tiles */
.page-template-archivish-testimonials .site-content {
	background: #eee
}
.page-title-box {
	background: #fff;
	border-radius: 5px;
	margin: 1rem 0;
}
.testimonial-section .practitioner-info img {
	border-radius:5px;
}
/*bring text and signee closer to quotation mark icon*/
.testimonial-box {
	/*margin-left: -15px;*/
	margin-bottom: 2rem;
	max-width: 320px
}
.testimonial-box .text-right {
	padding-right: 15px;
}
.testimonial-section {
	background: #fff;
	border-radius: 5px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: 0 -15px 1rem -15px;
}
.practitioner-info {
	margin-bottom: 1rem;
}
.quote-box {
	margin-left: 15px;
}

/*--------------------------------------------------------------
# Testimonial Single Page
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Sidebar styling
--------------------------------------------------------------*/
.sidebar-text h1, .sidebar-text h2, .sidebar-text h3,
.sidebar-text h4, .sidebar-text h5 {
/*	color: #F26968;*/
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
/* Extra-small devices */
@media(max-width: 543px) {
	.service-header-title h2 {
		font-size: 1.5rem;
	}	
	/*--------------------------------------------------------------
	# Sidebar styling
	--------------------------------------------------------------*/
	.sidebar-content {
		text-align: center;
	}
}
/* Medium devices */
@media(min-width: 768px) {
	/*--------------------------------------------------------------
	# General Page
	--------------------------------------------------------------*/
	/*page headers with diamond-bar graphic*/
	.page-title-box {
		position: relative;
	}
	.page-title-box h1 {
		background: #fff;
		display: inline-block;
		margin: 4.5rem auto 2rem;
		padding-left: 1rem;
		padding-right: 1rem; 
		position: relative;
	}
	.page-title-box .cb-bar {
		width: 80%;
	}
	.page-title-box .cb-diamond {
		top: -4px;
	}
	.page-title-box .cb-diamond:first-child {
		left: -5px;
	}
	.page-title-box .cb-diamond:last-child {
		right: -5px;
	}
	.page-title-box .cb-bar {
		top: 104px;
	}
	/*--------------------------------------------------------------
	# Testimonial Archive Page
	--------------------------------------------------------------*/
	.testimonial-menu {
		background: #fff;
		width: 20%;
		border-radius: 5px;
	}
}
/* Large devices and screens */
@media(min-width: 992px) {
	/*--------------------------------------------------------------
	## Typography
	--------------------------------------------------------------*/
	h1 {
		font-size: 2.887em;
	}
	 h2 {
		font-size: 2.271em;
	}
	 h3 {
		font-size: 1.802em;
	}
	 h4 {
		font-size: 1.424em;
	}
	 h5 {
		font-size: 1.125em;
	}
	 h6 {
		font-size: 1em;
	}
	/*--------------------------------------------------------------
	# General Page
	--------------------------------------------------------------*/
	/*make room for lower menu*/
	.site-content {
		padding-top: 2rem;
	}
	.home .site-content {
		padding-top: 0;
	}
	/*--------------------------------------------------------------
	# Header Nav
	--------------------------------------------------------------*/
	#cb-collapsing-nav {
		position: absolute;
		top: 128px;
		width: 100%;
		z-index: -1;	
	}
	#cb-collapsing-nav #primary-menu {
		box-shadow: 0 0px 15px 0px rgba(0,0,0,0.5);
		padding-left: 17px;
		padding-right: 17px;
		padding: 0 15px 5px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		font-size: 1.25rem;
	}
	#primary-menu li a {
		color: #0D250D;
	}
	#contact-addy {
		font-size: 1rem;
		position: absolute;
		right: 0;
		top: 2rem;
	}
	#contact-phone {
		bottom: 1rem;
		font-size: 1.5rem;
		margin-bottom: .5rem;
		position: absolute;
		right: 0;
	}
	/*--------------------------------------------------------------
	# Testimonial Archive Page
	--------------------------------------------------------------*/
	.quote-column {
		max-width: 60px;
	}	
}